/* EndScrollbar */
body {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0b0b0b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363536;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1b1b;
}

div.left {
  width: 550px;
  height: 830px;
  overflow: hidden;
}

div.left:hover {
  overflow: auto;
}

div.right {
  width: 100%;
  height: 830px;
  overflow: hidden;
}

div.right:hover {
  overflow: auto;
}

/* EndScrollbar */
/* ========================================================= */

.colorWhite {
  color: #ffffff;
}

.body {
  margin-top: 100px;
}

.itemJustifyLeft {
  align-items: center;
  display: flex;
  justify-content: left;
}

.itemJustifyCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.itemJustifyRight {
  align-items: center;
  display: flex;
  justify-content: right;
}

.fontSize1 {
  font-size: 55px;
}

.btnLogin {
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 36.46%,
    #ff6b81 71.35%,
    #fbdf63 100%
  );
  margin-right: 25px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

.btnRegister {
  background: #0b0b0b;
  margin-right: 25px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

.btnRegister:hover {
  background: #1a1b1b;
}

.cardImg {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.btnModalLogin {
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 36.46%,
    #ff6b81 71.35%,
    #fbdf63 100%
  );
  width: 100%;
  margin: 20px 0 0 0;
}

.colorText1 {
  color: #ababab;
}

.btnHover1 {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
}

.btnHover1:hover {
  background: #1a1b1b;
  color: #ababab;
  text-decoration: none;
}

.inputSeacrh:focus {
  border: none;
}

.btnCreatePost {
  background: linear-gradient(
    90deg,
    #4dd4f7 0%,
    #9090fb 36.46%,
    #ff6b81 71.35%,
    #fbdf63 100%
  );
  width: 130px;
  height: 33px;
  border-radius: 4px;
  cursor: pointer;
}
